@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f5ffd8;
  --text-color: #111111;
  --bg-color-header: #5ca35c;
  --bg-color-buttonHeader: #a1e186;
  --bg-color-buttonHeaderHover: #3d8447;
}
[data-theme="dark"] {
  --bg-color: #11102a;
  --text-color: #e0e0e0;
  --bg-color-header: rgb(0, 23, 87);
  --bg-color-buttonHeader: rgb(37, 59, 132);
  --bg-color-buttonHeaderHover: #3c5698;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header {
  background-color: var(--bg-color-header);
  /* color: var(--text-color); */
}
.buttonHeader {
  background-color: var(--bg-color-buttonHeader);
}
.buttonHeader:hover {
  background-color: var(--bg-color-buttonHeaderHover);
}
.productCard:hover {
  box-shadow: 0 0 30px var(--text-color);
}
